* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#badge-small-image
{
    width: 50px;
    position: relative;
    cursor: pointer;font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    box-sizing: border-box;
}
body
{
    font-size: 14px;
    font-family: Lato,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}